{% include 'church/base.html'%}

{% block content %}

        <!-- Background image -->
        <div
          class="p-5 text-center bg-image"
          style="background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg'); height: 400px;">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">About Us</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
        
<div class="container text-center pt-3  ">
    <div class="jumbotron">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia distinctio hic ullam exercitationem, architecto, quasi id quis soluta error temporibus nesciunt, fuga beatae sunt. Sint nobis dolorum doloribus labore officiis rem illo unde laudantium sit, est quibusdam possimus dolor illum dolores nemo natus adipisci aperiam beatae. Praesentium porro ex magni necessitatibus possimus nam quas, sapiente eveniet provident, laboriosam animi fugiat aut itaque corrupti, voluptatem ratione atque laborum iure! Facilis qui enim non eligendi ad natus vero, illo id iure hic maxime totam odit quod quas minus exercitationem, harum modi ipsa possimus tempore itaque iste ex! Voluptatum minus repellat quos iste.</p>

    </div>
    <!-- About us -->

    <!-- Leaders && pastors Team -->
    <h2>Leaders / Pastors </h2>
    <div class="row">

      <!-- first col -->
      {% for team in teams %}
      <div class="col-md-4 pt-4 mb-3">
        <div class="card">
          <img src="{{ team.image.url }}" class="card-img-top" alt="..."/>
          <div class="card-body">
            <h5 class="card-title">{{team.title}}</h5>
            <p class="card-text">
              {{team.name}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
</div>


<!-- Footer -->
<footer class="page-footer text-white font-small unique-color-dark pt-1" style="background-color: rgb(78, 74, 74);">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-6">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-5 col-lg-5 col-xl-5  mx-auto mb-1">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold text-white">Heritage Baptism Church</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet porttitor elit, quis gravida neque. .</p>

      </div>
       
      <!-- Grid column -->
      <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-md-0 mb-2">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold text-white">Location</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Along Langata Southern Bypass</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>P.o Box 900 - 00100, Nairoobi - Kenya</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> sample@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 254 700 000 000</p>          
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold text-white">Follow us</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
              <i class="fab fa-twitter mr-3"></i>Twitter</p>
          <p>
              <i class="fab fa-facebook mr-3"></i>Facebook</p>
          <p>
              <i class="fab fa-youtube mr-3"></i>Youtube</p>                
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->  
</footer>
<!-- footer -->
<div class="container-fluid"  style="background-color: rgb(116, 90, 90);">   
  <footer class="page-footer font-small downfoo">
      <div class="footer-copyright text-center text-white py-3">© 2020 Copyright | <a href="#" class="text-white">Heritage Baptism Church |  Terms & conditions | Privacy Policy</a>
      </div>
  </footer>
</div>
{% endblock content %}
   
