{% include 'church/base.html'%}

{% block content %}
<div class="container-fluid">

    <img src="../../../collections/306-3069167_contact-wallpaper-contact-contact-us-background-image-png.jpg" alt="">
    
    <h4 class="text-uppercase text-red">contact us</h4>
    <p>fell free to talk to us</p>  
</div>

    <div class="container-fluid">       
        <div class="row">
            <div class="col-md-6 p-3 ">
                <h3 class="text-center">Location on google map</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.733234122234!2d36.77354204972638!3d-1.3362971360534117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1bb4e3a387bf%3A0x35175af08fdcecb!2sHeritage%20Baptist%20Church%20and%20Heritage%20Junior%20School!5e0!3m2!1sen!2ske!4v1608545715917!5m2!1sen!2ske" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

            <div class="col-md-6">
                <h3 class="text-center">contact us form</h3>
                <div>
                    <form action="">
                        <label for="name">
                            <input type="text" placeholder="enter your name here">
                        </label>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}