{% include 'church/base.html'%}

{% load bootstrap4 %}

{% block content %}
<div class="container-fluid text-center" style="background:linear-gradient(rgba(146, 147, 153, 0.52), rgba(46, 39, 44, 0.73)), url('../../../collections/306-3069167_contact-wallpaper-contact-contact-us-background-image-png.jpg'); height:36vh; background-size: cover; background-position: center;">
    <div class="d-flex justify-content-center align-items-center">
        <div class="text-white pt-4">
            <h1 class="mb-3 text-uppercase font-weight-bold py-3 animate__animated animate__fadeInLeft">contact us</h1>
            <h4 class="mb-3 text-capitalize">feel free to talk to us</h4>     
        </div>
    </div>    
</div>

<div class="container-fluid pt-3">       
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Location on google map</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.733234122234!2d36.77354204972638!3d-1.3362971360534117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1bb4e3a387bf%3A0x35175af08fdcecb!2sHeritage%20Baptist%20Church%20and%20Heritage%20Junior%20School!5e0!3m2!1sen!2ske!4v1608545715917!5m2!1sen!2ske" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

        <div class="col-md-6">
            <h3 class="text-center">contact us form</h3>
            <div>
                <form action="">
                    <label for="name">
                        <input type="text" placeholder="enter your name here">
                    </label>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer text-white font-small unique-color-dark pt-1" style="background-color: rgb(78, 74, 74);">

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-5 col-xl-5  mx-auto mb-1">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold text-white">Heritage Baptism Church</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet porttitor elit, quis gravida neque. .</p>
  
        </div>
         
        <!-- Grid column -->
        <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-md-0 mb-2">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold text-white">Location</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Along Langata Southern Bypass</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>P.o Box 900 - 00100, Nairoobi - Kenya</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> sample@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 254 700 000 000</p>          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">  
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold text-white">Follow us</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <i class=" mr-3">Twitter</a>
            </p>
            <p>
                <i class=" mr-3">Facebook</a>
            </p>
            <p>
                <i class="mr-3">Youtube</a>
            </p>
                
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->  
</footer>
<!-- footer -->
<div class="container-fluid"  style="background-color: rgb(116, 90, 90);">   
    <footer class="page-footer font-small downfoo">
        <div class="footer-copyright text-center  py-3">© 2020 Copyright | <a href="#" class="text-white">Heritage Baptism Church |  Terms & conditions | Privacy Policy</a>
        </div>
    </footer>
</div>

{% endblock content %}