{% include 'church/base.html'%}

{% load bootstrap4 %}

{% block content %}
<div class="container-fluid text-center" style="background:linear-gradient(rgba(146, 147, 153, 0.52), rgba(46, 39, 44, 0.73)), url('../../../collections/306-3069167_contact-wallpaper-contact-contact-us-background-image-png.jpg'); height:36vh; background-size: cover; background-position: center;">
    <div class="d-flex justify-content-center align-items-center">
        <div class="text-white pt-4">
            <h1 class="mb-3 text-uppercase font-weight-bold py-3 animate__animated animate__fadeInLeft">Give To God</h1>
            <h4 class="mb-3 text-capitalize">Give what you have to the almight and be blessed </h4>     
        </div>
    </div>    
</div>

<div class="jumbotron jumbotron pt-4 mb-0"> 
    <h3 class="text-center color-green pb-4">All offering, tithe to be send through</h3> 
    <hr class="sky-blue accent-2 mb-2 mx-auto" style="width: 300px;">     
    <div class="row mt-6">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-0"> 
            <div class="card" style="">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>           
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-1"> 
            <div class="card" style="">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>           
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-1"> 
            <div class="card" style="">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>           
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-1"> 
            <div class="card" style="">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>           
        </div> 
        
    </div>
</div>

<!-- Footer -->
<footer class="page-footer text-white font-small unique-color-dark pt-1" style="background-color: rgb(78, 74, 74);">

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-6">
  
      <!-- Grid row -->
      <div class="row mt-3">  
            <!-- Grid column -->
            <div class="col-md-5 col-lg-5 col-xl-5  mx-auto mb-1">
    
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold text-white">Heritage Baptism Church</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet porttitor elit, quis gravida neque. .</p>
    
            </div>
         
            <!-- Grid column -->
            <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-md-0 mb-2">  
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold text-white">Location</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> Along Langata Southern Bypass</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>P.o Box 900 - 00100, Nairoobi - Kenya</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> sample@gmail.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 254 700 000 000</p>          
            </div>
            <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">  
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold text-white">Follow us</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <i class="fab fa-twitter mr-3"></i>Twitter</p>
            <p>
                <i class="fab fa-facebook mr-3"></i>Facebook</p>
            <p>
                <i class="fab fa-youtube mr-3"></i>Youtube</p>                
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->  
</footer>
<!-- footer -->
<div class="container-fluid"  style="background-color: rgb(116, 90, 90);">   
    <footer class="page-footer font-small downfoo">
        <div class="footer-copyright text-center  py-3">© 2020 Copyright | <a href="#" class="text-white">Heritage Baptism Church |  Terms & conditions | Privacy Policy</a>
        </div>
    </footer>
</div>

{% endblock content %}