{% include 'church/base.html'%}


{% block content %}

        <!-- Background image -->
        <div
          class="p-5 text-center bg-image"
          style="
            background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg');
            height: 400px;
          "
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">Welcome to Heritage Baptist Church</h1>
                <h4 class="mb-3">A community that is passionate in worshiping God <br> and worshiping God through missions</h4>
                <a class="btn btn-outline-light btn-lg" href="" role="button"
                  >Visit our Youtube channel</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
        
<!-- <div class="container">
    <col-md-6>
</col-md-6>
    <div><h1>Word from Pastor</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fermentum nisl. Suspendisse iaculis, orci et consectetur bibendum, nunc ante tempus nibh, in laoreet leo lectus et justo. Vivamus rutrum tristique est, non pellentesque neque euismod ac. Sed in feugiat ex, ac accumsan sapien. Vestibulum sollicitudin velit sed orci tempus auctor eu id eros. Nullam rhoncus mauris a urna vulputate, ac mollis nulla sagittis. Mauris lobortis, justo vitae venenatis ullamcorper, sapien risus faucibus quam, nec vehicula eros felis ac augue. Suspendisse facilisis, purus commodo bibendum aliquam, nunc magna tincidunt diam, sit amet varius nisi diam ac urna. Praesent vel feugiat odio.</p>
    </div>
    <div>
        <img src="https://mdbootstrap.com/img/new/slides/041.jpg" alt="">
    </div> -->
    <div class="container pt-4">
        <div class="row">
          <div class="col-md-3">
            <img src="https://mdbootstrap.com/img/new/slides/041.jpg" width="100%" height="150vh" alt="">

          </div>
          <div class="col-md-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fermentum nisl. Suspendisse iaculis, orci et consectetur bibendum, nunc ante tempus nibh, in laoreet leo lectus et justo. Vivamus rutrum tristique est, non pellentesque neque euismod ac. Sed in feugiat ex, ac accumsan sapien. Vestibulum sollicitudin velit sed orci tempus auctor eu id eros. Nullam rhoncus mauris a urna vulputate, ac mollis nulla sagittis. Mauris lobortis, justo vitae venenatis ullamcorper, sapien risus faucibus quam, nec vehicula eros felis ac augue. Suspendisse facilisis, purus commodo bibendum aliquam, nunc magna tincidunt diam, sit amet varius nisi diam ac urna. Praesent vel feugiat odio.</p>

          </div>
           


    
</div>

{% endblock content %}
   
