
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-white">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="#">Email: heritage@gmail.com</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Call Us: 070000000000</a></li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="#"> <i class="fa fa-facebook"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"> <i class="fa fa-instagram"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"> <i class="fa fa-youtube"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"> Admin Login</a></li>
        </ul>
    </nav>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarExample01"
              aria-controls="navbarExample01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <!-- Left -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link waves-effect" href="/">
                    <i style="color: #03E9F4;"></i>
                    <span class="clearfix d-none d-sm-inline-block" style="color: #03E9F4; cursor: pointer;" > Home </span>
                  </a>
                </li>

                <li>
                    <div style="padding-top: 8px; padding-right: 15px; color:#03E9F4; cursor: pointer;" > 
                        <a style="color:#03E9F4;" href="{% url 'about' %}">
                            About Us
                        </a>                 
                    </div>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link waves-effect" href="#" target="_blank"></a>
                </li>
                <li>
                  <div style="padding-top: 8px; padding-right: 15px; color:#03E9F4; cursor: pointer;" class="btn-group" mdbDropdown>
                    <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ministries
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'children' %}">Children Ministry</a>
                      <a class="dropdown-item" href="{% url 'youth' %}">Youth Ministry</a>
                      <a class="dropdown-item" routerLink="junior">Heritage Junior School</a>
                    </div>
                  </div>
                </li>
      
                  <li>
                    <div style="padding-top: 8px; padding-right: 15px; color:#03E9F4; cursor: pointer;" class="btn-group" mdbDropdown>
                      <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Missions
                        </a>
                    
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" routerLink="teen">Mission Team</a>
                        <a class="dropdown-item" routerLink="youth">Missionaries</a>
                        <a class="dropdown-item" routerLink="college">Projects</a>
                      </div>
                    </div>
                    </li>
      
                    <li>
                      <div style="padding-top: 8px; padding-right: 15px; color:#03E9F4; cursor: pointer;" class="btn-group" mdbDropdown>
                        <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Events
                          </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" routerLink="mission">Mission Trips</a>
                          <a class="dropdown-item" routerLink="activities">Family Day</a>
                          <a class="dropdown-item" routerLink="support">Anniversaries</a>
                        </div>
                      </div>
                </li>
                <li>
                  <div style="padding-top: 8px; padding-right: 15px; color:#03E9F4; cursor: pointer;" >
                      
                    <a style="color:#03E9F4;" href="{% url 'contact' %}">
                        Contact Us
                      </a>                 
  
                  </div>
                </li>
                <li>
                  <div style="padding-top: 8px; padding-right: 15px; color:#03E9F4; cursor: pointer;" >
                    <a style="color:#03E9F4;" href="{% url 'give' %}">
                      Give
                      </a>                 
  
                  </div>
                </li>
               
              </ul>       
            
          </div>
          </div>
        </nav>
        <!-- Navbar -->
      </header>